
@{
    ViewBag.Title = "Concept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom.css" rel="stylesheet" />
<br /> <br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <center><h1 style="color:coral">Know more about stakeholders and concepts </h1></center>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <center><h3 style="color:deepskyblue">List of few Stakeholders helping us with their valuable Data </h3></center>
            </div>
            <div>
                <center><img src="~/Assets/Images/Home/Stakeholders.jpg" class="img-responsive" /></center>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <center><h3 style="color:deepskyblue">Longitudinal Report </h3></center>
            </div>
            <div>
                <center>
                    <img src="~/Assets/Images/Home/LongitudionalReport.JPG" class="img-responsive" />
                    <center><h4 style="color:darkgray">Integrated Report </h4></center>
                </center>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div>
                    <center><h3 style="color:deepskyblue"> Tool for Many Uses </h3></center>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table border="0" width="100%">
                        <tr>
                            <td colspan="3"><center><h4><a href="">Current Students</a></h4></center></td>
                        </tr>
                        <TR>
                            <TD></TD>
                            <TD ROWSPAN=5><center><img src="~/Assets/Images/Home/team.jpg" class="img-responsive" width="200" height="200" /></center></TD>
                            <TD></TD>
                        </TR>
                        <TR>
                            <TD><center><h4><a href="">Prospective Students</a></h4></center></TD>
                            <TD><center><h4><a href="">HD Admin. & Staff</a></h4></center></TD>
                        </TR>
                        <TR>
                            <TD></TD>
                            <TD></TD>
                        </TR>
                        <TR>
                            <TD><center><h4><a href="">PS Admin. & Faculty</a></h4></center></TD>
                            <TD><center><h4><a href="">Policymakers</a></h4></center></TD>
                        </TR>
                        <TR>
                            <TD></TD>
                            <TD></TD>
                        </TR>
                        <tr>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <center><h4><a href=""> Employers</a></h4></center>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <center><h4><a href=""> Researchers</a></h4></center>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
           
        </div>
    </div>

</div>

<br /><br /><br />


