
@{
    ViewBag.Title = "Metrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<center><h2 style="color:coral">Data Information</h2></center>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 style="color:deepskyblue">Date Category</h3>
            <img src="~/Assets/Images/Home/MetricsImage.png" class="img-responsive" width="100%"/>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 style="color:deepskyblue">Data Disaggregation</h3>
            <img src="~/Assets/Images/Home/DataAggregation.png" class="img-responsive" />
        </div>
    </div>
</div>
