
@{
    ViewBag.Title = "TimeLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<center><h2 style="color:coral">Timeline</h2></center>
<hr />
<br /><br /><br /><br />
<center><h3 style="color:deepskyblue">Will be coming soon</h3></center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />