@{
    ViewBag.Title = "";
}
<br />
<link href="~/Content/Custom.css" rel="stylesheet" />
<br />

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-center" style="color:darkblue">About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="text-center" style="color:dodgerblue">Illinois Postsecondary Education Report Card</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <p>
                    <h4>
                        <strong>Postsecondary Education Report Card</strong> is the state’s official source for information about public schools across Illinois. The information here will help you act as an informed partner in the education of our children.
                    </h4>
                </p>
                <p>
                    <h4>
                        Families, researchers, policy makers, and community members can use the site to find school data, including academic performance, school environment, educators, students, and highlights provided by principals.
                    </h4>
                </p>

            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="img-responsive">
                <img src="~/Assets/Images/AboutUs/GradImage.jpg" width="100%" height="300px"/>
            </div>
        </div>
    </div>

