@{
    ViewBag.Title = "Contact";
}<br />
<br />
<link href="~/Content/Custom.css" rel="stylesheet" />
 <script src = "https://maps.googleapis.com/maps/api/js"></script>
<br /><br />


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title" style="color:darkblue">Contact US</h2><div class="hr-AboutUS"></div>
                <h3 style="color:darkblue">Illinois Postsecondary Report Card</h3>
                <address>
                    138 East Locust Street <br />
                    DeKalb,Illinois 60115 <br />
                    <div class="glyphicon glyphicon-phone-alt h4">Phone:(815)753-1907</div>
                </address>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title" style="color:darkblue">Visit US</h2><div class="hr-AboutUS"></div>
                <iframe class="col-md-12 col-sm-12 col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.201120030803!2d-88.75427403315243!3d41.93152948960892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f2a8b3e2d172d%3A0x7866ab8b1d499217!2s138+E+Locust+St%2C+DeKalb%2C+IL+60115!5e0!3m2!1sen!2sus!4v1518640104050" width="500" height="300" frameborder="1" style="border:groove" allowfullscreen="true"></iframe>

            </div>
        </div>
    </div>
</div>
<!--IPRC Location on Google map-->
<script>
    function loadMap() {

        var mapOptions = {
            center: new google.maps.LatLng(41.931530, -88.752726),
            zoom: 7
        }

        var map = new google.maps.Map(document.getElementById("IPRC_Map"), mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(17.088291, 78.442383),
            map: map,
        });
    }
</script>
