
@{
    ViewBag.Title = "Help";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <br /><br /><br />
            <h2>Frequently Asked Questions</h2><br /><hr />
            <p>
                <strong>What is the Illinois Postsecondary Report Card?</strong> The ICCB and IBHE annually releases a report card that shows how each school, district, and the state is performing on a wide range of educational goals. The Illinois Report Card has two main components: the At-a-Glance Report that provides important information about each school or district in a one-page, printable format; and the online report card that delivers in-depth information with explanations of each indicator available.
            </p>
            <p>
                <strong>How do I find my school or district?</strong> You can type any school or district name into the text box under Find Your School. When you see your school or district’s name, clicking it or the Search button will take you to that school’s or district’s Snapshot page. You can also type your address, city, or ZIP code into the by Address text box, choose the search range in miles, and then click the Search button. This will take you to a map that shows schools in the area. Click on any dot on the map or make a selection from the left side list to visit that school’s or district’s Snapshot page. You can also search for charter schools, regional offices, or other specialized, educational sites. Click on the words Select from List located next to the Search button. A menu is provided. Click on the type of site you want to locate. Then, select from the generated list of choices.
            </p>
            <p>
                <strong>I’m on my school’s or district’s Snapshot page – how do I navigate from here?</strong>  You will see a set of tabs below the name of your school or district, such as Academic Progress, School Environment, and Educators. Clicking on these tabs will take you to new pages, where you will see a list of topics on the left side of the page. Clicking on these measures will show your school’s or district’s information.
            </p>
            <p>
                <strong> Why can’t I find my child’s test scores?</strong> Individual test scores are confidential, by law, which protects your child’s privacy. Contact your child’s teacher for information about your child’s scores and academic progress..
            </p>
            <p>
                <strong>should I report technical issues with the website?</strong>  Please send any questions regarding website technical problems to iprc@niu.edu .
            </p>
        </div>
    </div>
</div>


